<br></br>

<div class="container mt-5">
    {{#if user}}
    <h3>Bienvenido {{user.name}} {{user.lastName}}</h3><br>
    <h4>Email: {{user.email}}</h4>
    <h4>UserName: {{user.userName}}</h5>
    <a href="/api/cart/{{cartID._id}}" class="btn btn-primary">Mi Carrito de Compras</a>
    {{else}}
    <h3>Datos no enviados</h3>
    {{/if}}
</div>