<h1 class="title-principal container">Lista de Productos</h1>
  <div class = "fluid row">
    <div class = "col-6 cards">
  {{#each productsArray}}
    <div class="card container mt-3 cardsBody" style="width: 18rem;">
  <img src= {{this.thumbnail}} class="card-img-top mb-3" alt="...">
  <div class="card-body mt-3">
    <h4 class="card-title mb-4">{{this.name}}</h4>
    <h6 class="card-text mb-4">PRECIO: $ {{this.price}}</h6>
    <h6 class="card-text">GÉNERO: {{this.genero}}</h6>
    <a href="/api/products/{{this._id}}" class="btn btn-primary mt-2">Ver</a>
  </div>
</div>
  {{/each}}
  </div>
</div>
<div class="container paginate">
  {{#if pagination.hasPrevPage}}
    <a style='font-size: 20;' href='/api/products/?page={{pagination.prevPage}}'>⬅{{pagination.prevPage}}</a>
  {{/if}}
  <a style='font-size: 20;' href='#'>{{pagination.page}}</a>
  {{#if pagination.hasNextPage}}
    <a style='font-size: 20;' href='/api/products/?page={{pagination.nextPage}}'>{{pagination.nextPage}}➡</a>
  {{/if}}
  {{!<br />
  <br />
  {{#each links}}
  {{!<a href='{{this.href}}{{!'>{{this.label}}{{!</a>
  {{/each}}
  </div>
  